/* ===========================
   Product Details Page
=========================== */

.product-details-page{
    width:90%;
    max-width:1500px;
    margin:0 auto;
    padding:50px 0 100px;
}

/* ===========================
   Breadcrumb
=========================== */

.product-breadcrumb{
    display:flex;
    align-items:center;
    gap:8px;
    font-size:15px;
    color:#777;
    margin-bottom:40px;
}

.product-breadcrumb a{
    color:#777;
    text-decoration:none;
    transition:.3s;
}

.product-breadcrumb a:hover{
    color:#8B1E3F;
}

/* ===========================
   Product Layout
=========================== */

.product-layout{

    display:grid;
    grid-template-columns:1.1fr 0.95fr 320px;
    gap:50px;
    align-items:start;
    margin-bottom:40px;

}



/* ===========================
   Tabs
=========================== */

.product-tabs{
    margin-top:90px;
}

/* ===========================
   Related Products
=========================== */

.related-products{
    margin-top:120px;
}

/* ===========================
   Responsive
=========================== */
@media (max-width:1200px){

    .product-layout{

        grid-template-columns:1fr 1fr;
        gap:40px;

    }

    .product-sidebar{

        grid-column:1 / -1;

    }

}
@media (max-width:992px){

    .product-layout{

        grid-template-columns:1fr;
        gap:35px;

    }

}

@media (max-width:768px){

    .product-details-page{

        width:95%;

    }

    .product-layout{

        gap:30px;

    }

}

@media (max-width:480px){

    .product-details-page{

        padding:35px 0 70px;

    }

}

